<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../mybulma/css/mystyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/80d3947a70.js"></script>
</head>

<body data-module="scroll">
    <nav class="navbar is-top">
        <div class="container is-small">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <i class="fa fa-plane logo_img" aria-hidden="true"></i>
                    <span class="has-text-weight-strong logo-desc"> &nbsp;FREELY</span>
                </a>
                <div role="button" tabindex="0" class="navbar-burger burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu">
            <div class="navbar-end">
                    <a href="/users/logout" class="navbar-item">Log out</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="homepage-hero" data-module="parallax">
        <div class="layer layer-01"></div>
        <div class="layer layer-02">
        </div>
        <div class="layer layer-03">
             <div class="is-12 is-vertical has-text-centered">
                <h1 class="title">
                    Your reservation has been approved!
                </h1>
                <p>
                    The confirmation will be send on your email address. 
                </p>
                <p>Want to do another reservation? Come back to the <a href="/index_logged" class="text-link">main page.</a></p>
            </div>
        </div>

    </section>
   
</body>

</html>