
@charset "utf-8";
// my own customization
$footer-padding: 1rem 1rem 1rem;
$hero-body-padding-medium: 9rem 1.5rem 5rem 1.5rem;
$hero-body-padding-small: 4rem 1.5rem 1.5rem 1.5rem;
@import "../node_modules/bulma/bulma.sass";
