html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
.container {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  text-align: center;
}
.button {
  background-color: blue;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}
.button:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
/* BG MODAL */

.bg_modal{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}
.modal_content{
  width: 500px;
  background-color: whitesmoke;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}
.modal_content img{
  width: 100px;
}
.modal_content input{
  width: 50%;
  display: block;
  margin: 20px auto;
}
.modal_content i{
  position: absolute;
  font-size: 32px;
  cursor: pointer;
  padding-left: 16rem;
}
.airplane_area{
  display: flex;
  flex-basis: 50%;
  /* background-image: url('../img/mod_air.svg'); */
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
.airplane_model_local{
  width: 300px;
  display: grid;
  grid-template-columns: 150px 100px;
  grid-column-gap: 40px;
  justify-content: space-evenly;
  padding-bottom: 10%;
}
.airplane_model_continental{
  width: 300px;
  display: grid;
  grid-template-columns: 120px 120px;
  grid-column-gap: 60px;
  justify-content: space-evenly;
  padding-bottom: 10%;
}
.airplane_model_intercontinental{
  width: 440px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-column-gap: 40px;
  justify-content: space-evenly;
  padding-bottom: 10%;
}
.airplane_column{
  display: grid;
  grid-template-rows: repeat(21, 30px);
  grid-gap: 10px;
}
.seat{
  border-radius: 5px;
  cursor: pointer;
}
.airplane_row{
  display: grid;
  grid-template-columns: repeat(6, 30px);
  grid-column-gap: 10px;
  justify-content: space-evenly;
}
.seat_booked{
  background-color: darkolivegreen;
}
.seat_free{
  background-color: darkgrey;
}
#reservedSeats{
  display:none;
}
.item_reserved{
  background-color: red;
  border-radius: 5px;
  -webkit-appearance: none;
  outline: none;
}

/* RESERVATION PAGE */
.main_container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-evenly;
  padding-bottom: 3%;
  padding-top: 3%;
}
/* Main container children */
.airplane_map{
  display: flex;
  flex-basis: 50%;
}
.reservation_panel{
  display: grid;
  
}

.form_content{
  display: grid;
  grid-row-gap: 20%;
}
.hidden_input{
  display: none;
}

.form_block{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 20%;
  border-radius: 5%;
}
h3, h4{
  text-transform: uppercase;
}
.rounded_num{
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  display: inline-block;
  background-color: rgb(217, 247, 248);
  text-align: center;
  margin-right: 1rem;
  -webkit-box-shadow: 6px 6px 34px -7px rgba(2,110,143,0.68);
  -moz-box-shadow: 6px 6px 34px -7px rgba(2,110,143,0.68);
  box-shadow: 6px 6px 34px -7px rgba(2,110,143,0.68);
}

/* Form based on grid */
.grid_block{
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 1% 1%;
  align-self: auto;
}
.form_reservation{
  height: 1300px;
  padding: 2rem;
  width: 50%;
  margin: 2%;
  min-height: 100%;
  background-color: rgb(187, 223, 238);
  border-radius: 5%;
  grid-template-rows: repeat(15, 5%);
}
.item_header{
  grid-column-start: 1;
  grid-column-end: col2-end;
}
.item_label{
  grid-column-start: 1;
  grid-column-end: 2;
  place-self: center stretch;
}
.item_input{
  grid-column-start: 2;
  place-self: center stretch;
  /* grid-column-end: col2-end; */
}

.logo_img i { 
  transform: rotate(-45deg); 
  padding: 1.5rem;
  color: skyblue;
  font-size: 2rem;
}
header{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}
.logo_img span{
  font-weight: bold;
  color: rgb(33, 175, 231);
}
nav ul{
  list-style-type: none;
}
.navigation_element{
  padding: 1rem;
}
.navigation_element i{
  display: inline;
  padding-right: 0.5rem;
}
.navigation{
  display: flex;
  flex-direction: row;
  padding-right: 3%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: rgb(73, 73, 73);
  
}
.navigation ul li{
  padding: 3rem;
}
.main_navigation{
  display: flex;
  background-color: #FAFAFA;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.125rem solid #E7E7E7;
}
.main_navigation span{
  font-size: 1.5rem;
}
.btn_lagguage{
  width: 40%;
  background-color: #E7E7E7;
  text-transform: uppercase;
  padding: 15px;
	color: inherit;
  border-radius: 5px;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  margin-left: 5%;
  justify-self: center;
}

.lagguage_container i{
  font-size: 3rem;  
}
.lagguage_container p{
  display: inline;
  font-size: 1.3rem;
}
.lagguage_container{
  margin-left: 38%;
  color: rgb(58, 57, 57);
}
.centered-container {
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 4rem;
  border-radius: 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
}

.link {
  color: #2175ff;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  align-self: center;
}

.link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}
.link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}
.link--arrowed .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset 0.3s ease;
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
.link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}
svg{
  transform: rotate(90deg);
}
a:link{
  text-decoration: none;
  color: inherit;
}
footer{
  background-color: #FAFAFA;
  border-top: 0.125rem solid #E7E7E7;
  text-transform: uppercase;
}
.wrapper{
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem 13rem 3.6rem 5rem;
  position: relative;
  background-image: url(../img/airplane_view.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  opacity: 0.6;
}
.section_wrapper{
  background-color: #FAFAFA;
  border-top: 0.125rem solid #E7E7E7;
  margin-bottom: 6rem;
  display: flex;
  
}
div.section_title {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  background-color: rgb(102, 200, 245);
  color: white;
  left: 2.25rem;
  top: -2.25rem;
  position: absolute;
  cursor: default;
}
.section{
  width: 50rem;
    margin: 0 auto;
    position: relative;
    font-size: 0;
    padding-top: 0.5rem;
    box-sizing: border-box;
    clear: both;
}
div.card {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 3px;
  grid-template-areas: "search_form search_form info_aside"
  "search_form search_form info_aside"
  "footer_info footer_info info_aside";
  box-shadow: 0 0.1rem 0.25rem lightgrey;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  margin-top: 2.5rem;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}
.info_aside{
  grid-area: info_aside;
}
.search_form{
  grid-area: search_form;
  padding: 3%;
}
.footer_info{
  grid-area: footer_info;
  padding: 2%;
  margin: 1%;
  color: rgb(85, 84, 84);
  font-size: 0.9rem;

}
.footer_info i{
  padding-right: 1%;
}
.search_header{
  padding-top: 2%;
  padding-bottom: 4%;
  background-color: rgb(211, 238, 250);
  border-radius: 5px;
  padding: 4%;
  margin: 2%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  color: rgb(85, 84, 84);
}
.search_header i{
  padding-right: 3%;
}
.search_city{
  padding-left: 5%;
  font-weight: 600;
}
.search_btn{
  text-transform: uppercase;
  cursor: pointer;
}
.main_content{
  background-color: rgb(253, 251, 251);
  margin-bottom: 3%;
}
.nav_link{
  color: rgb(85, 84, 84);
}
.search_label{
  font-size: 1rem;
  text-transform: uppercase;
  padding: 3%;
}
.airplane_area{
  border-radius: 150px / 300px;
  margin-top: 3%;
}
.clicked_lagguage{
  background-color: rgb(7, 89, 100);
  font-weight: 600;
  color: white;
}
.choosen_option{
  color: rgb(7, 89, 100);
}
.input_normalization{
  border: none;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
}
.label_normalization{
  padding-left: 5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.label_normalization i{
  display: inline;
  padding-right: 1rem;
}

input:disabled{
  background-color: rgb(217, 247, 248);
  border-radius: 5px;
}
textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
.form_reservation h3{
  padding-left: 2rem;
  font-size: 1.5rem;
  display: block;
}
.btn_arrow{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  font-weight: 600;
}
.i_correct{
  padding-left: 1rem;
  color: green;
  font-size: 1.5rem;
}


@media only screen and (max-width: 758px) {
  h4 {
    /* font-size: 0.5rem; */
  }
}

